# Ignore Gradle build cache
.gradle/
**/build/

# Ignore APKs
*.apk

# Android Studio files
.idea/
*.iml
*.iws

# Ignore local config
local.properties

# Mac and Windows OS junk files
.DS_Store
Thumbs.db

# Log files
*.log

# Ignore Java bytecode
*.class

# Ignore generated dex and jar files
*.dex
*.jar